*

!.gitignore
!README.md

!cava/
!cava/**

!khal/
!khal/**

!fastfetch/
!fastfetch/**

!greenclip.toml

!helix/

!i3/
!i3/**

!kitty/
!kitty/**

!nvim/
!nvim/**

!picom/
!picom/**

!polybar/
!polybar/**

!redshift/
!redshift/**

!rofi/
!rofi/**

!.zshrc

!wallpapers/
!wallpapers/**
